@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.parent {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.box {
  background: linear-gradient(to bottom left, #a50021 30%, #fd5c63 100%);
  width: 370px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25.5px;
  height: 210px;
}

.internet {
  text-align: center;
  margin-top: 25px;
  font-family: "Quicksand";
  font-size: 20px;
  color: white;
}
.btn-parent {
  display: flex;
  justify-content: center;
}

.button3 {
  margin-top: 35px;
  border-radius: 15px;
  height: 60px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 310px;
  background-color: #a50021;
  border-style: none;
  font-family: "Quicksand";
  color: white;
  font-size: 25px;
}

.button3:hover {
  background-color: #fd5c63;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
