.header {
  width: 100%;
  height: 75px;

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-align: left;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.logo img {
  width: 4.75rem;
}
