.SearchForm {
  display: flex;
  align-items: center;

  margin-right: 2rem;
}

.SearchForm input[type="text"] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid white;
}

.SearchForm input[type="submit"] {
  width: 60px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.SearchForm-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin: 50px;
}

.SearchForm-result {
  width: 30%;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.SearchForm-result-info {
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.SearchForm-result-info h3 {
  margin: 1rem;
  font-size: 18px;
}

.SearchForm-result-info p {
  margin: 0;
  font-size: 14px;
  color: black;
  text-align: justify;
}
